<div id="about-author">
  <div class="row">
    <div class="col-md-3 columns">
      <img src="https://placehold.it/150x150" alt="Marios Antonoudiou" class="round" />
    </div>
    <div class="col-md-9 columns">
      <h4>Marios Antonoudiou</h4>
      <p>Marios is a full stack, <a href="http://pph.me/marios" target="_blank">CERT5</a> web developer, who has been developing easy to use websites and web applications for about a decade.
      </p>
    </div>
  </div>
</div>