<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            <div class="well text-center">
                <h3>Do you have a project? I love new projects!</h3>
                <p>I am so excited! Let's see how we can make it work. <br/>Ready to make it successful?</p>
                <a class="btn btn-primary" href="/contact">Ask for a free quote</a>
            </div>
        </div>
    </div>
</div>